{% extends 'base.html' %}

{% block title %}Make a Post{% endblock %}

{% block content %}

<h1>Add Post for {{ user.full_name }}</h1>

<form method="POST">
  <div class="container">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" rows="3" name="content"></textarea>
    </div>
    <a href="/users/{{ user.id }}"><button class="btn btn-danger">Cancel</button></a>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>    
</form>

{% endblock %}