body {
  margin: 15px;
}

.navbar {
  margin: 0;
}

li a {
  text-decoration: none;
}

.avatar {
  width: 120px;
}

.user-container {
  display: flex;
  margin: 50px 50px;
}

.edit-profile {
  margin-left: 50px;
}

#tag-input {
  width: 250px;
}

.tag-container {
  display: flex;
}

.tag {
  list-style-type: none;
}
