{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}

<h1>Edit User</h1>

<form method="POST">
  <label for="firstname">First name</label>
  <p><input type="text" name="firstname" placeholder="Enter a first name" required></p>
  <label for="lastname">Last name</label>
  <p><input type="text" name="lastname" placeholder="Enter a last name" required></p>
  <label for="imageurl">Enter image url</label>
  <p><input type="text" name="imageurl" placeholder="Add avatar image"></p>
  <a href="/users" class="btn btn-outline-danger btn-sm">Cancel</a>
  <button type="submit" class="btn btn-primary btn-sm">Save</button>
</form>

{% endblock %}